@model IEnumerable<FilmSitesi.Models.film>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table" style="color:white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.length)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.releaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imdbScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.myScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image.title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.releaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imdbScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.myScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image.title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planet</title>
    <link href="/free_movie_zip/css/bootstrap.min.css" rel="stylesheet">
    <link href="/free_movie_zip/css/font-awesome.min.css" rel="stylesheet">
    <link href="/free_movie_zip/css/global.css" rel="stylesheet">
    <link href="/free_movie_zip/css/about.css" rel="stylesheet">
    <script src="/free_movie_zip/js/bootstrap.bundle.min.js"></script>

</head>
<body>

    <section id="center" class="center_o pt-2 pb-2">
        <div class="container-xl">
            <div class="row center_o1">
                <div class="col-md-5">
                    <div class="center_o1l">
                        <h2 class="mb-0">FİLMLER</h2>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="center_o1r text-end">
                        <h6 class="mb-0 col_red"><a href="#">Home</a> <span class="me-2 ms-2 text-light"><i class="fa fa-caret-right align-middle"></i></span> FİLMLER</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team" class="pt-4 pb-4 bg_grey">
        <div class="container-xl">
            <div class="team_1i row">
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="/free_movie_zip/img/37.jpg" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Semp Porta</h4>
                            <h6>Manager</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>

                        </div>
                    </div>
                </div>
                @*<div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="/free_movie_zip/img/38.jpg" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Dapibus Diam</h4>
                            <h6>Trainer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="/free_movie_zip/img/39.jpg" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Eget Nulla</h4>
                            <h6>Designer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>
    
                        </div>
                    </div>
                </div>*@
            </div>
            @*<div class="team_1i row mt-4">
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="/free_movie_zip/img/40.jpg" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Semp Porta</h4>
                            <h6>Manager</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="/free_movie_zip/img/41.jpg" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Dapibus Diam</h4>
                            <h6>Trainer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team_1i1 clearfix position-relative">
                        <div class="team_1i1i clearfix">
                            <div class="grid clearfix">
                                <figure class="effect-jazz mb-0">
                                    <a href="#"><img src="/free_movie_zip/img/42.jpg" class="w-100" alt="abc"></a>
                                </figure>
                            </div>
                        </div>
                        <div class="team_1i1i1 clearfix position-absolute w-100 bottom-0">
                            <h4 class="col_red">Eget Nulla</h4>
                            <h6>Designer</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Aliquam ut elit venenatis, congue dolor ut, mattis leo</p>

                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </section>




    <script>
        window.onscroll = function () { myFunction() };

        var navbar_sticky = document.getElementById("navbar_sticky");
        var sticky = navbar_sticky.offsetTop;
        var navbar_height = document.querySelector('.navbar').offsetHeight;

        function myFunction() {
            if (window.pageYOffset >= sticky + navbar_height) {
                navbar_sticky.classList.add("sticky")
                document.body.style.paddingTop = navbar_height + 'px';
            } else {
                navbar_sticky.classList.remove("sticky");
                document.body.style.paddingTop = '0'
            }
        }
    </script>

</body>

</html>